ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
}

ion-card[color="danger"] {
  text-align: center;

  ion-icon {
    margin-bottom: 8px;
  }
}

ion-card[color="light"] {
  ion-card-title {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  p {
    margin: 8px 0 0 0;
    font-size: 0.9rem;
  }
}
